{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "global/css/style.css" %}">
  </head>
  <header class="header">
    <nav class="header-areas">
      <a href="{% url "index" %}" class="header-link">Notas</a>
      <a href="" class="header-link">Lembretes</a>
      <a href="{% url "chatbot" %}" class="header-link">NotesIA</a>
    </nav>
    <nav class="header-profile">
      <a href="" class="header-link">+</a>
      <a href="" class="header-link">
        <img src="" alt="Profile" class="profile-link" />
      </a>
    </nav>
  </header>
</html>
