{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SmartNotes</title>
  <link rel="stylesheet" href="{% static "global/css/style.css" %}">
</head>
<body>
  <header class="header">
    <nav class="header-areas">
      <a href="{% url "index" %}" class="header-link">Notas</a>
      <!-- <a href="" class="header-link">Lembretes</a> -->
      <a href="{% url "chatbot" %}" class="header-link">Notes<span class="accent-word">IA</span></a>
    </nav>
    <nav class="header-profile">
      <a href="" class="header-link">+</a>
      <div class="header-div">
        <a href="{% url "logout" %}">
          {% if user.profile.image %}
            <img src="{{ user.profile.image.url }}" alt="Profile" class="profile-image">
          {% else %}
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3fZ_ebLrIR7-37WMGcyj_RO-0TTcZGtUKtg&s" alt="Profile" class="profile-image">
          {% endif %}
        </a>
      </div>
    </nav>
  </header>
</body>
</html>
