{% extends "global/base.html" %}

<body>
    {% block content %}
    <a href="" class="note-link">
        <h3 class="note-link-title">Nota</h3>
        <p class="note-link-date">14/10/2004</p>
    </a>
    <a href="" class="note-link">
        <h3 class="note-link-title">Nota</h3>
        <p class="note-link-date">14/10/2004</p>
    </a>
    <a href="" class="note-link">
        <h3 class="note-link-title">Nota</h3>
        <p class="note-link-date">14/10/2004</p>
    </a>
    {% endblock content %}
</body>
</html>