{% extends "global/base.html" %}

{% block content %}

{% include "notesApp/partials/_searchBar.html" %}

{% for note in notes %}
{% include "notesApp/partials/_sideNotes.html" %}
{% endfor %}

{% endblock content %}


{% block main %}
<section class="note-detail">

    {% if note.picture %}
    <section class="note-image">
        <img  src="{{ note.picture.url }}" alt="capa">
    </section>
    {% endif %}
    
    <h1 class="note-title">{{ note.title }}</h1>
 
    <p class="note-text">{{ note.content_html|safe }}</p>
    
    <section class="note-info">
        <ul class="note-tags">
            {% for tag in note.tags.all %}
                <li class="tag">{{ tag.name }}</li>
            {% endfor %}
        </ul>
        <form action="{% url "delete_note" note.id %}" method="post">
            {% csrf_token %}
            <button class="" type="submit">Apagar</button>
            <button class="" type="submit">Editar</button>
        </form>
    </section>
</section>

{% endblock main %}