:root {
  --backgroundColor: #151419;
  --mainTextColor: #fbfbfb;
  --detailColorDark: #1b1b1e;
  --detailColorLight: #262626;
  --accentColor: #f56e0f;
  --extraColor: #878787;

  --mainFont: -apple-system, sans-serif;

  --smallTitleWeight: bold;
  --smallTextSize: 1.3em;
  --smallTitleSize: 1.6em;
  --mediumTitleSize: 1.8em;
  --largeTitleSize: 4em;

  --smallPadding: 10px;
  --mediumPadding: 20px;
  --largePadding: 50px;

  --show: show 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
}

body {
  background-color: var(--backgroundColor);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

hr {
  margin: 20px 0px;
}

.form {
  width: 50%;

  padding: 20px;
  background-color: var(--detailColorLight);
  border: 1px solid var(--detailColorDark);
  border-radius: 8px;
  box-shadow: 0 0 10px var(--detailColorDark);
}

.form-content {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group > label,
h1 {
  margin-bottom: 5px;
  font-weight: bold;

  color: var(--mainTextColor);
}

.form-group > input,
.form-group > textarea,
.form-group > div {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--extraColor);
  border-radius: 4px;

  transition: border-color 0.3s;
}

.form-group > input[type="file"] {
  padding: 0;
  background-color: var(--mainTextColor);
}

.form-group > input:focus,
.form-group > textarea:focus,
.form-group > div:focus {
  border-color: var(--accentColor);
  outline-color: var(--accentColor);
}

.form-group > textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 50%;
  height: 50px;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--mainTextColor);
  background-color: var(--accentColor);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

button[type="submit"]:hover {
  box-shadow: 0 0 10px var(--accentColor);
}

/* ERRORS */

.errorlist {
  margin: 10px;
  color: var(--accentColor);
}
.errorlist.nonfield {
  color: inherit;
}