:root {
  --backgroundColor: #fffae5;
  --mainTextColor: #0f0f0f;
  --detailColor1: #fcec93;
  --detailColor2: #fff1b8;

  --mainFont: -apple-system, sans-serif;

  --smallTitleWeight: bold;
  --smallTextSize: 1.3em;
  --smallTitleSize: 1.6em;
  --largeTitleSize: 4em;

  --smallPadding: 10px;
  --mediumPadding: 20px;
  --largePadding: 50px;

  --show: show 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
}

body {
  background-color: var(--backgroundColor);
}

a {
  text-decoration: none;
}

main {
  display: flex;
  overflow: hidden;
}

hr {
  width: 90%;
  margin: auto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  padding: var(--mediumPadding);
  overflow: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: var(--mediumPadding);
  border-bottom: 3px solid var(--detailColor1);
  background-color: var(--detailColor2);
}

.header-link {
  font-weight: var(--smallTitleWeight);
  font-size: var(--smallTitleSize);
  padding-left: var(--mediumPadding);
  padding-right: var(--mediumPadding);
  color: var(--mainTextColor);
}

.sidebar {
  width: 25%;
  height: 90vh;
  border-right: 2px solid var(--detailColor1);
  padding: var(--mediumPadding);
}

.search-bar {
  margin-bottom: var(--smallPadding);
  height: 35px;
  width: 90%;
  border-radius: 10px;
  border: 2px solid var(--detailColor1);
  font-family: var(--mainFont);
  font-weight: var(--smallTitleWeight);
  padding: var(--smallPadding);
}

.create_button {
  color: var(--mainTextColor);
  font-weight: var(--smallTitleWeight);
  font-size: 2.2em;
}

.create_button:hover {
  background-color: var(--detailColor1);
}

.note-link {
  width: 100%;
  padding: var(--smallPadding);
  border-radius: 10px;
}

.note-link:hover {
  background-color: var(--detailColor1);
}

.note-link-title,
.note-link-date {
  color: var(--mainTextColor);
}

.index-title {
  font-size: var(--largeTitleSize);
  color: var(--detailColor1);
  animation: var(--show);
}

.note-detail {
  margin-top: var(--largePadding);
  background-color: var(--detailColor2);
  padding: var(--largePadding);
  width: 99%;
  min-height: 95%;
  border-radius: 30px;
  overflow-x: hidden;
  animation: var(--show);
}

.note-title {
  font-size: var(--largeTitleSize);
  color: var(--mainTextColor);
  border-bottom: 2px solid var(--mainTextColor);
  margin-bottom: 40px;
  padding-bottom: var(--smallPadding);
}

.note-text {
  font-size: var(--smallTextSize);
  color: var(--mainTextColor);
}

.note-tags {
  list-style: none;
  margin-top: 30px;
  display: flex;
  justify-content: left;
  width: auto;
}

.tag {
  background-color: var(--detailColor1);
  padding: var(--smallPadding);
  border-radius: 40px;
  margin: 5px;
}

.note-image {
  overflow: hidden;
  height: 200px;
  width: 140%;
  margin-bottom: 20px;
  margin-left: -200px;
  margin-top: -50px;
}

.note-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ANIMATIONS */

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ----------- */

.form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--backgroundColor);
  border: 1px solid var(--detailColor1);
  border-radius: 8px;
  box-shadow: 0 0 10px var(--detailColor1);
}

.form-content {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  
}

.form-group > label {
  margin-bottom: 5px;
  font-weight: bold;
 
}

.form-group > input,
.form-group > textarea,
.form-group > div {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--mainTextColor);
  border-radius: 4px;
  
  transition: border-color 0.3s;
}

.form-group > input[type="file"] {
  padding: 0;
}

.form-group > input:focus,
.form-group > textarea:focus,
.form-group > div:focus {
  border-color: var(--detailColor1); /* Cor de foco */
}

.form-group > textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 50%;
  height: 100px;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--mainTextColor);
  background-color: var(--detailColor1); 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: var(--detailColor1);
}
