:root {
  --backgroundColor: #f7f8e8;
  --mainTextColor: #0f0f0f;
  --detailColor1: #e2ddf5;
  --detailColor2: #efebff;

  --mainFont: -apple-system, sans-serif;

  --smallTitleWeight: bold;
  --smallTitleSize: 1.6em;
  --largeTitleSize: 4em;

  --smallPadding: 10px;
  --mediumPadding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
}

body {
  background-color: var(--backgroundColor);
}

a {
  text-decoration: none;
}

main {
  display: flex;
}

hr {
  width: 90%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: var(--mediumPadding);
  border-bottom: 3px solid var(--detailColor1);
  background-color: var(--detailColor2);
}

.header-link {
  font-weight: var(--smallTitleWeight);
  font-size: var(--smallTitleSize);
  padding-left: var(--mediumPadding);
  padding-right: var(--mediumPadding);
  color: var(--mainTextColor);
}

.sidebar {
  width: 25%;
  height: 90vh;
  border-right: 2px solid var(--detailColor1);
  padding: var(--mediumPadding);
}

.note-link {
  width: 100%;
  padding: var(--smallPadding);
  border-radius: 10px;
}

.note-link:hover {
  background-color: var(--detailColor1);
}

.note-link-title,
.note-link-date {
  color: var(--mainTextColor);
}

.index-title{
  font-size: var(--largeTitleSize);
  color:var(--detailColor1);

  position: absolute;

  transform: translate(50%, 50%);
}